{% if page.tags.size > 0 %}
  <h3 class="page-taxonomies-title">{{ site.data.text[site.locale].tags | default: 'Tags' }}</h3>
  <ul class="page-taxonomies">
    {%- for tag in page.tags -%}
      <li class="page-taxonomy">
        {%- if site.tag_archive_path -%}
          <a href="{{ tag | slugify | prepend: site.tag_archive_path | relative_url }}" title="{{ site.data.text[site.locale].pages_tagged | default: 'Pages tagged' }} {{ tag }}" rel="tag">{{ tag }}</a>
        {%- else -%}
          {{ tag }}
        {%- endif -%}
      </li>
    {%- endfor- %}
  </ul>
{% endif %}
{% if page.toc %}

  <nav class="toc">
      <header><h4 class="nav__title"><i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label }}</h4></header>
      {% include toc.html sanitize=true html=content h_min=2 h_max=3 class="toc__menu" %}
    </nav>
{% if site.pageads == true %}<!-- {% include ad-sidebar.html %}<!-- /.google-ads -->{% endif %}
{% endif %}